In [1]:
import pandas as pd
import numpy as np
import random as rd

In [2]:
monday = ['GREEN', 'YELLOW', 'GREEN', 'BROWN', 'BLUE', 'PINK', 'BLUE', 'YELLOW', 'ORANGE', 'CREAM', 'ORANGE', 'RED', 'WHITE', 'BLUE', 'WHITE', 'BLUE', 'BLUE', 'BLUE', 'GREEN']
monday_f = {}

In [3]:
for i in monday:
    if i in monday_f:
        monday_f[i] += 1
    else:
        monday_f[i] = 1
day1 = monday_f
print (day1)

{'GREEN': 3, 'YELLOW': 2, 'BROWN': 1, 'BLUE': 6, 'PINK': 1, 'ORANGE': 2, 'CREAM': 1, 'RED': 1, 'WHITE': 2}

In [4]:
tuesday = ['ARSH', 'BROWN', 'GREEN', 'BROWN', 'BLUE', 'BLUE', 'BLUE', 'PINK', 'PINK', 'ORANGE', 'ORANGE', 'RED', 'WHITE', 'BLUE', 'WHITE', 'WHITE', 'BLUE', 'BLUE', 'BLUE']
tuesday_f = {}
for i in tuesday:
    if i in tuesday_f:
        tuesday_f[i] += 1
    else:
        tuesday_f[i] = 1
day2 = tuesday_f
print (day2)

{'ARSH': 1, 'BROWN': 2, 'GREEN': 1, 'BLUE': 7, 'PINK': 2, 'ORANGE': 2, 'RED': 1, 'WHITE': 3}

In [5]:
wednesday = ['GREEN', 'YELLOW', 'GREEN', 'BROWN', 'BLUE', 'PINK', 'RED', 'YELLOW', 'ORANGE', 'RED', 'ORANGE', 'RED', 'BLUE', 'BLUE', 'WHITE', 'BLUE', 'BLUE', 'WHITE', 'WHITE']
wednesday_f = {}
for i in wednesday:
    if i in wednesday_f:
        wednesday_f[i] += 1
    else:
        wednesday_f[i] = 1
day3 = wednesday_f
print (day3)

{'GREEN': 2, 'YELLOW': 2, 'BROWN': 1, 'BLUE': 5, 'PINK': 1, 'RED': 3, 'ORANGE': 2, 'WHITE': 3}

In [6]:
thursday = ['BLUE', 'BLUE', 'GREEN', 'WHITE', 'BLUE', 'BROWN', 'PINK', 'YELLOW', 'ORANGE', 'CREAM', 'ORANGE', 'RED', 'WHITE', 'BLUE', 'WHITE', 'BLUE', 'BLUE', 'BLUE', 'GREEN']
thursday_f = {}
for i in thursday:
    if i in thursday_f:
        thursday_f[i] += 1
    else:
        thursday_f[i] = 1
day4 = thursday_f
print (day4)

{'BLUE': 7, 'GREEN': 2, 'WHITE': 3, 'BROWN': 1, 'PINK': 1, 'YELLOW': 1, 'ORANGE': 2, 'CREAM': 1, 'RED': 1}

In [7]:
friday = ['GREEN', 'WHITE', 'GREEN', 'BROWN', 'BLUE', 'BLUE', 'BLACK', 'WHITE', 'ORANGE', 'RED', 'RED', 'RED', 'WHITE', 'BLUE', 'WHITE', 'BLUE', 'BLUE', 'BLUE', 'WHITE']
friday_f = {}
for i in friday:
    if i in friday_f:
        friday_f[i] += 1
    else:
        friday_f[i] = 1
day5 = friday_f
print (day5)

{'GREEN': 2, 'WHITE': 5, 'BROWN': 1, 'BLUE': 6, 'BLACK': 1, 'ORANGE': 1, 'RED': 3}

In [8]:
data = [day1, day2, day3, day4, day5]
df = pd.DataFrame.from_dict(data)
df

   GREEN  YELLOW  BROWN  BLUE  PINK  ORANGE  CREAM  RED  WHITE  ARSH  BLACK
0      3     2.0      1     6   1.0       2    1.0    1      2   NaN    NaN
1      1     NaN      2     7   2.0       2    NaN    1      3   1.0    NaN
2      2     2.0      1     5   1.0       2    NaN    3      3   NaN    NaN
3      2     1.0      1     7   1.0       2    1.0    1      3   NaN    NaN
4      2     NaN      1     6   NaN       1    NaN    3      5   NaN    1.0

In [9]:
df.insert(0, "Days", ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'], True)
df

,Days,GREEN,YELLOW,BROWN,BLUE,PINK,ORANGE,CREAM,RED,WHITE,ARSH,BLACK
0,Monday,3,2.0,1,6,1.0,2,1.0,1,2,NaN,NaN
1,Tuesday,1,NaN,2,7,2.0,2,NaN,1,3,1.0,NaN
2,Wednesday,2,2.0,1,5,1.0,2,NaN,3,3,NaN,NaN
3,Thursday,2,1.0,1,7,1.0,2,1.0,1,3,NaN,NaN
4,Friday,2,NaN,1,6,NaN,1,NaN,3,5,NaN,1.0

In [10]:
df = df.set_index('Days')
df

,GREEN,YELLOW,BROWN,BLUE,PINK,ORANGE,CREAM,RED,WHITE,ARSH,BLACK
Days,,,,,,,,,,,
Monday,3,2.0,1,6,1.0,2,1.0,1,2,NaN,NaN
Tuesday,1,NaN,2,7,2.0,2,NaN,1,3,1.0,NaN
Wednesday,2,2.0,1,5,1.0,2,NaN,3,3,NaN,NaN
Thursday,2,1.0,1,7,1.0,2,1.0,1,3,NaN,NaN
Friday,2,NaN,1,6,NaN,1,NaN,3,5,NaN,1.0

In [11]:
df.replace(np.nan, 0, inplace=True)
df

,GREEN,YELLOW,BROWN,BLUE,PINK,ORANGE,CREAM,RED,WHITE,ARSH,BLACK
Days,,,,,,,,,,,
Monday,3,2.0,1,6,1.0,2,1.0,1,2,0.0,0.0
Tuesday,1,0.0,2,7,2.0,2,0.0,1,3,1.0,0.0
Wednesday,2,2.0,1,5,1.0,2,0.0,3,3,0.0,0.0
Thursday,2,1.0,1,7,1.0,2,1.0,1,3,0.0,0.0
Friday,2,0.0,1,6,0.0,1,0.0,3,5,0.0,1.0

In [12]:
print(df.mean())

GREEN     2.0
YELLOW    1.0
BROWN     1.2
BLUE      6.2
PINK      1.0
ORANGE    1.8
CREAM     0.4
RED       1.8
WHITE     3.2
ARSH      0.2
BLACK     0.2
dtype: float64

In [13]:
df_sum = df.sum().sum()

print(df_sum)

95.0

In [14]:
sum_total = 95.0
no_of_colors = 11
mean = sum_total // no_of_colors
mean

8.0

In [15]:
sr = df.sum(axis=0)
print(sr)

GREEN     10.0
YELLOW     5.0
BROWN      6.0
BLUE      31.0
PINK       5.0
ORANGE     9.0
CREAM      2.0
RED        9.0
WHITE     16.0
ARSH       1.0
BLACK      1.0
dtype: float64

In [16]:
mode = sr.max()
mode

31.0

In [17]:
median = df.median()
print(median)

GREEN     2.0
YELLOW    1.0
BROWN     1.0
BLUE      6.0
PINK      1.0
ORANGE    2.0
CREAM     0.0
RED       1.0
WHITE     3.0
ARSH      0.0
BLACK     0.0
dtype: float64

In [18]:
variance = df.var()
print(variance)

GREEN     0.5
YELLOW    1.0
BROWN     0.2
BLUE      0.7
PINK      0.5
ORANGE    0.2
CREAM     0.3
RED       1.2
WHITE     1.2
ARSH      0.2
BLACK     0.2
dtype: float64

In [19]:
p_red = df.RED.sum()
p_red

9

In [20]:
tot = df.sum()
tot

GREEN     10.0
YELLOW     5.0
BROWN      6.0
BLUE      31.0
PINK       5.0
ORANGE     9.0
CREAM      2.0
RED        9.0
WHITE     16.0
ARSH       1.0
BLACK      1.0
dtype: float64

In [22]:
d = tot.sum()
d

95.0

In [23]:
p_red = p_red // d
p_red

0.0

In [25]:
9.0 // 95.0

0.0

In [28]:
def recursive_search(arr, target, start, end):
    if start > end:
        return None
    midpoint = (start + end) // 2
    if arr[midpoint] == target:
        return midpoint
    elif arr[midpoint] > target:
        return recursive_search(arr, target, start, midpoint-1)
    else:
        return recursive_search(arr, target, midpoint+1, end)

In [29]:
arr = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
target = 11
result = recursive_search(arr, target, 0, len(arr)-1)
print(result)

5

In [31]:
binary_num = ''.join([rd.choice(['0', '1']) for i in range(4)])
print("Binary number:", binary_num)
decimal_num = int(binary_num, 2)
print("Decimal number:", decimal_num)

Binary number: 0001
Decimal number: 1

In [32]:
def fibonacci(n):
    if n <= 1:
        return n
    else:
        return fibonacci(n-1) + fibonacci(n-2)
fib_sum = 0
for i in range(50):
    fib_sum += fibonacci(i)
    
print("Sum of the first 50 Fibonacci numbers:", fib_sum)

KeyboardInterrupt: